<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <h4>Update Post</h4>
            </div>
            <form action="http://localhost:3000/admin/posts/<%= post.id %>/edit" method="post"
                  enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="head" class="col-md-4 col-form-label text-md-right">Title</label>
                    <div class="col-md-6">
                        <input class="form-control" value="<%= post.head; %>"
                               type="text" name="head" id="head" required maxlength="255">

                        <span class="invalid-feedback" role="alert">
                                            <strong></strong>
                                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="head" class="col-md-4 col-form-label text-md-right">Subtitle</label>
                    <div class="col-md-6">
                        <input class="form-control"
                               value="<%= post.subtitle %>" type="text" name="subtitle" id="subtitle" maxlength="255">
                        <span class="invalid-feedback" role="alert">
                                    <strong></strong>
                                </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="excerpt" class="col-md-4 col-form-label text-md-right">Excerpt</label>
                    <div class="col-md-6">
                            <textarea class="form-control" type="text" name="excerpt"
                                      id="excerpt" maxlength="2048" required><%= post.excerpt %></textarea>
                        <span class="invalid-feedback" role="alert">
                                            <strong></strong>
                                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="image" class="col-md-4 col-form-label text-md-right">Image</label>
                    <div class="col-md-6">
                        <input class="form-control-file" type="file"
                               name="image" id="image" accept=".png, .jpg, .jpeg">
                        <span class="invalid-feedback" role="alert">
                                            <strong></strong>
                                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="preview_image" class="col-md-4 col-form-label text-md-right">Preview Image</label>
                    <div class="col-md-6">
                        <input class="form-control-file" type="file"
                               name="previewImage" id="preview_image" accept=".png, .jpg, .jpeg">
                        <span class="invalid-feedback" role="alert">
                                            <strong></strong>
                                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="tags" class="col-md-4 col-form-label text-md-right">Tags</label>
                    <div class="col-md-6">
                        <select class="selectpicker" multiple
                                title="Choose tags" name="tags[]" id="tags">
                            <% tags.map((tag) => { %>
                                <option
                                <% if (post.tags.map(({ id }) => id).includes(tag.id)) { %>
                                    selected
                                        <% } %>
                                    value="<%= tag.id; %>"><%= tag.name; %></option>
                            <% }); %>
                        </select>
                        <span class="invalid-feedback" role="alert">
                                            <strong></strong>
                                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="mins_to_read" class="col-md-4 col-form-label text-md-right">Minutes To Read</label>
                    <div class="col-md-6">
                        <input class="form-control" type="number"
                               name="mins_to_read" id="mins_to_read" value="<%= post.mins_to_read %>">
                        <span class="invalid-feedback" role="alert">
                                            <strong></strong>
                                        </span>
                    </div>
                </div>

                <textarea class="form-control" type="text" name="body" id="body" required><%= post.body %></textarea>
                <br>

                <div class="form-group row mb-0">
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  $(document).ready(function() {
    $("#body").summernote({
      height: 450
    });
  });
</script>